[submodule "elementary"]
	path = native/elementary
	url = https://github.com/YuMuuu/elementary.git
	branch = fix/runtime-snapshot-graph-entry
[submodule "juce"]
	path = native/juce
	url = https://github.com/juce-framework/JUCE.git
