[submodule "elementary"]
	path = native/elementary
	url = https://github.com/YuMuuu/elementary.git
	branch = fix/runtime-snapshot-graph-entry
[submodule "choc"]
	path = native/choc
	url = https://github.com/nick-thompson/choc.git
[submodule "external/clap"]
	path = external/clap
	url = https://github.com/free-audio/clap.git
[submodule "external/clap-wrapper"]
	path = external/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
